<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../core/tests/bootstrap.php" colors="true">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="SiteFarm Unit">
      <directory>./tests</directory>
      <directory>./modules</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>./modules</directory>
      <!-- By definition test classes have no tests. -->
      <exclude>
        <directory suffix="Test.php">./</directory>
        <directory suffix="TestBase.php">./</directory>
      </exclude>
    </whitelist>
  </filter>
  <!--
  <logging>
    <log type="coverage-html" target="./tests/coverage" lowUpperBound="35"
         highLowerBound="70"/>
  </logging>
  <php>
    <ini name="display_errors" value="true"/>
  </php>
  -->
</phpunit>
